# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Logs
*.log

# Docker
docker-data/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Terraform
*.tfstate
*.tfstate.backup

# Backup
backups/

# Swap
*.swp
